body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** Home Page **/

.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  margin: 30px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu-item{
  text-decoration: none;
  color: #FF6060;
  font-weight: bold;
}

.banner {
  text-align: center;
  background-color: black;
  margin: 60px;
  border-radius: 10px;
}

.banner-image {
  width: 80%; 
  height: auto;
}

.card {
  background-color: #FF6060;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 300px;
  height: 300px;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-title {
  font-size: 18px;
  color: white;
  display: flex;
  margin-top: 230px;
  font-weight: 500;
}

.gallery {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  margin: 60px;
  border-radius: 10px;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.textfooter {
  font-size: 14px;
  margin-top: 10px;
}
